@charset "UTF-8";
/*Lato regular 400*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Edu VIC WA NT Beginner regular 400*/
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Lato&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato"; }

/* NavBar */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  background-color: white;
  box-sizing: content-box;
  height: 44px; }

.navbar-toggler-icon {
  background-color: white; }

.logo {
  height: 74.52px;
  width: 85px;
  padding: 4px 0 4px 0; }

.div_lista {
  align-items: center;
  padding: 0 14px 10px 0; }

ul li {
  display: inline;
  padding: 0 5px 0 5px; }
  ul li :hover {
    border-bottom: solid 1px #af2a2a; }

a {
  text-decoration: none;
  color: #af2a2a; }

/* Index */
main {
  width: 100%;
  height: 100%;
  background: url("/img/TRIPTICO 911-15.jpg") no-repeat;
  background-size: cover; }
  main img {
    width: 300px;
    height: 280px; }

.div_logo {
  display: flex;
  justify-content: center; }

.container {
  display: flex;
  justify-content: center; }

.div_main {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  grid-template-areas: "somos slider" "mapa mapa";
  grid-gap: 20px; }

.quienes_somos {
  background-image: url(/img/naranja.png);
  width: 500px;
  height: 500px;
  border-radius: 6px;
  border: 1px solid black;
  flex-flow: column wrap;
  text-align: center;
  padding: 10px;
  grid-area: somos; }
  .quienes_somos p {
    padding: 15px 0;
    font-size: 20px; }

h1 {
  display: flex;
  justify-content: center;
  font-family: "Edu VIC WA NT Beginner";
  font-size: 40px;
  text-align: center; }

h2 {
  display: flex;
  justify-content: center;
  font-family: "Edu VIC WA NT Beginner";
  font-size: 40px;
  text-align: center; }

.slider {
  background-image: url(/img/naranja.png);
  width: 500px;
  height: 500px;
  border-radius: 6px;
  border: 1px solid black;
  grid-area: slider; }

.carousel-inner {
  display: flex;
  align-content: center;
  justify-items: center; }

.carousel-item img {
  height: 500px;
  width: 500px;
  padding: 5px;
  object-fit: cover; }

.mapa {
  background-image: url(/img/naranja.png);
  width: 1020px;
  height: 500px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 10px;
  grid-area: mapa; }

/* Gastronomia */
.main_gastronomia {
  background: url("/img/TRIPTICO 911-15.jpg") no-repeat center cover; }

.menus {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 4fr;
  grid-template-areas: "comida bebida" "comida bebida" "comida bebida" "comida bebida";
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  padding-bottom: 20px; }

.comidas, .bebidas {
  width: 450px;
  height: 800px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: #4885b8;
  grid-area: comida;
  transition: all 0.2s;
  transition-timing-function: ease-out; }
  .comidas img, .bebidas img {
    width: 500px;
    height: 800px;
    object-fit: fill; }

.comidas:hover, .bebidas:hover {
  transform: scale(1.1); }

.bebidas {
  grid-area: bebida; }

.bebidas:hover {
  transform: scale(1.1); }

/* Tienda */
.main_tienda {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/Tienda 911 -03.jpg") no-repeat center;
  background-size: cover; }

.div_tienda_main {
  display: grid;
  grid-template-columns: 750px 750px;
  justify-content: center;
  grid-gap: 10px; }

.info {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center; }
  .info h2 {
    display: flex;
    align-content: center;
    color: white; }

.div_tienda_1, .div_tienda_2 {
  width: 600px;
  height: 350px;
  background-image: url(/img/FondoA-05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: end;
  justify-self: flex-end;
  border: 2px solid black;
  transition: all 0.2s;
  transition-timing-function: ease-out; }

.div_tienda_1:hover, .div_tienda_2:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 15px black; }

.div_tienda_2 {
  background: url("/img/Tienda 911 -05.jpg");
  justify-items: flex-start; }

.info_marca {
  width: 280px;
  height: 300px;
  background-color: #161616;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding: 5px;
  border: 1px solid #818080;
  justify-content: center; }

.img_marca {
  width: 305px;
  height: 300px;
  border: 1px solid #818080; }

.letra_blanca {
  color: white; }

.mail-tienda {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .mail-tienda h2 {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    color: white; }
  .mail-tienda p {
    font-size: 30px;
    margin-top: -20px;
    font-weight: bolder;
    color: white; }

/* Eventos */
.main_eventos {
  background: url("/img/TRIPTICO 911-13.jpg") no-repeat;
  background-size: cover; }

.container-eventos {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 20px; }

.calendario {
  display: flex;
  justify-content: center;
  background-image: url(/img/naranja.png);
  width: 850px;
  height: 660px;
  border-radius: 40px;
  border: 1px solid black;
  padding: 30px; }

/* Contacto */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }

.pulso {
  animation-name: pulso;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; }

@keyframes pulso {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

.div-form {
  width: 400px;
  height: 450px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contact input {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  width: 304px;
  border: 2px solid black;
  border-radius: 10px; }

.contact textarea {
  resize: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  width: 305px; }

.btn {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-left: 114px;
  transition: all 1s; }

.btn:hover {
  cursor: pointer;
  background-color: #af2a2a; }

/* Footer */
footer {
  border-top: 2px solid black;
  background-color: white;
  justify-content: center;
  width: 100%;
  height: 10px;
  box-sizing: inherit; }
  footer p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px; }

.ul_footer {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: -1px 0 -12px 0; }

@media screen and (max-width: 1240px) {
  .div_tienda_main {
    display: grid;
    grid-template-columns: 750px;
    justify-content: center;
    grid-gap: 10px; } }

@media screen and (max-width: 1024px) {
  .quienes_somos {
    width: 380px; }
    .quienes_somos p {
      font-size: 20px;
      margin-top: -20px; }
  .slider {
    width: 380px; }
  .mapa {
    width: 783px; }
    .mapa iframe {
      width: 763px; }
  /* Gastronomia */
  .menus {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
  .comidas, .bebidas {
    width: 450px;
    height: 600px; }
    .comidas img, .bebidas img {
      width: 450px;
      height: 600px; }
  /* Eventos */
  .calendario {
    width: 680px; }
  /* Contacto */
  .div-form {
    width: 400px;
    height: 450px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
  .contact input {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 20px;
    width: 304px;
    border: 2px solid black;
    border-radius: 10px; }
  .contact textarea {
    resize: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px; }
  .btn {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-left: 114px; } }

@media screen and (max-width: 991px) {
  nav div {
    margin-top: -11px; }
  .navbar-collapse {
    background: white; } }

@media screen and (max-width: 800px) {
  .logo {
    padding: 2px 0 8px 0; }
  .navbar-collapse {
    background: white; }
  main img {
    width: 200px;
    height: 180px; }
  /* Main */
  .div_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .quienes_somos {
    width: 380px;
    height: 400px; }
    .quienes_somos p {
      font-size: 17px; }
  h2 {
    font-size: 34px; }
  .slider {
    width: 380px;
    height: 400px; }
  .carousel-item img {
    height: 400px; }
  .div_evento div {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .mapa {
    width: 380px;
    margin-bottom: 10px; }
    .mapa iframe {
      width: 360px; }
  /* Gastronomía */
  .menus {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 0;
    align-items: center; }
  .comidas, .bebidas {
    width: 410px; }
    .comidas img, .bebidas img {
      width: 410px; }
  /* Tienda */
  .div_tienda_main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .div_tienda_1, .div_tienda_2 {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column; }
  .div_tienda_2 {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column; }
  .info_marca {
    width: 300px;
    height: 200px;
    background-color: transparent;
    border: transparent;
    margin-bottom: -15px; }
    .info_marca p {
      display: none; }
  .img_marca {
    width: 270px;
    height: 300px;
    border: transparent;
    padding-bottom: 40px; }
  .letra_blanca {
    color: black; }
  /* Eventos */
  .container-eventos {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 20px; }
  .calendario {
    width: 380px;
    padding: 15px; }
    .calendario iframe {
      width: 450px; }
  /* Contacto */
  .div-form {
    width: 400px;
    height: 450px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
  .contact input {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 20px;
    width: 304px;
    border: 2px solid black;
    border-radius: 10px; }
  .contact textarea {
    resize: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    padding-right: 14px; } }

@media screen and (max-width: 390px) {
  /* Main */
  .quienes_somos {
    width: 300px;
    height: 400px; }
    .quienes_somos p {
      font-size: 17px; }
    .quienes_somos h2 {
      margin: -10px 0;
      padding-bottom: 15px; }
  h2 {
    font-size: 34px; }
  .slider {
    width: 300px;
    height: 400px; }
  .div_evento div {
    width: 300px; }
  .mapa {
    width: 300px;
    margin-bottom: 10px; }
    .mapa iframe {
      width: 280px; }
  /* Gastronomía */
  .comidas, .bebidas {
    width: 300px;
    height: 500px; }
    .comidas img, .bebidas img {
      width: 300px;
      height: 500px; }
  /* Tienda */
  .div_tienda_1, .div_tienda_2 {
    width: 250px;
    height: 250px; }
  .div_tienda_2 {
    width: 250px;
    height: 250px; }
  .info_marca {
    width: 300px;
    height: 200px;
    background-color: transparent;
    border: transparent; }
    .info_marca p {
      display: none; }
    .info_marca h2 {
      padding-top: 5px;
      font-size: 30px;
      color: black; }
  .img_marca {
    width: 200px;
    height: 230px;
    border: transparent;
    padding-bottom: 40px; }
  /* Eventos */
  .container-eventos {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 20px; }
  .calendario {
    display: flex;
    justify-content: center;
    width: 310px;
    padding: 15px; }
    .calendario iframe {
      width: 290px; }
  /* Contacto */
  .div-form {
    width: 300px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; }
    .div-form div {
      margin-bottom: 0px; }
  .contact input {
    width: 280px; }
  .contact textarea {
    width: 280px; } }
